/* MadCap Table Style: */

/*<meta Version="9" conditions="" />*/

mcTableStyle
{
	name: Trouble;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	margin-left: 60px;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: center;
	font-weight: bold;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #87cefa;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	background-color: #dcdcdc;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Trouble
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 60px;
	border-spacing: 0px 0px;
}

.TableStyle-Trouble-Column-Column1
{
	
}

.TableStyle-Trouble-Head-Header1
{
	
}

.TableStyle-Trouble-HeadI-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	background-color: #87cefa;
}

.TableStyle-Trouble-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadE-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #87cefa;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Trouble-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadF-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	background-color: #87cefa;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Trouble-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadH-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #87cefa;
}

.TableStyle-Trouble-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadD-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	background-color: #87cefa;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Trouble-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadC-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	background-color: #87cefa;
}

.TableStyle-Trouble-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadB-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #87cefa;
}

.TableStyle-Trouble-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadA-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	background-color: #87cefa;
}

.TableStyle-Trouble-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-HeadG-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	background-color: #87cefa;
}

.TableStyle-Trouble-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-Foot-Footer1
{
	
}

.TableStyle-Trouble-FootI-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-FootI-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootE-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Trouble-FootE-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootF-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Trouble-FootF-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootH-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-FootH-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootD-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Trouble-FootD-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootC-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-FootC-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootB-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-FootB-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootA-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-FootA-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-FootG-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-FootG-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-Body-Body1
{
	
}

.TableStyle-Trouble-BodyI-Column1-Body1
{
	background-color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyE-Column1-Body1
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyF-Column1-Body1
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyH-Column1-Body1
{
	background-color: #ffffff;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyD-Column1-Body1
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyC-Column1-Body1
{
	background-color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyB-Column1-Body1
{
	background-color: #ffffff;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyA-Column1-Body1
{
	background-color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyG-Column1-Body1
{
	background-color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyG-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Trouble-Body-Body2
{
	
}

.TableStyle-Trouble-BodyI-Column1-Body2
{
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyI-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyE-Column1-Body2
{
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-BodyE-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyF-Column1-Body2
{
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyF-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyH-Column1-Body2
{
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-BodyH-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyD-Column1-Body2
{
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyD-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyC-Column1-Body2
{
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyC-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyB-Column1-Body2
{
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Trouble-BodyB-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyA-Column1-Body2
{
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyA-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Trouble-BodyG-Column1-Body2
{
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Trouble-BodyG-Column1-Body2 p
{
	font-weight: bold;
}


