@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta conditions="Default.Top_Level_Output" />*/

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 18pt;
}

ol.ol_2
{
	list-style-type: decimal;
	margin-left: 76pt;
}

ol.ol_3
{
	list-style-type: decimal;
	margin-left: 61pt;
}

span.span_1
{
	margin-right: 11pt;
}

span.span_2
{
	margin-right: 9pt;
}

MadCap|xref.ParaTextOnly
{
	mc-format: '{paratext}';
}

ol.ol_4
{
	list-style-type: decimal;
	margin-left: 157pt;
}

span.span_3
{
	margin-right: 0pt;
}

ol.ol_5
{
	list-style-type: decimal;
	margin-left: 86pt;
}

span.span_4
{
	margin-right: 5pt;
}

span.span_5
{
	margin-right: 3pt;
}

span.span_6
{
	margin-right: 12pt;
}

@media non-print
{
	MadCap|toggler.Photo_Toggler
	{
		mc-closed-image: url('../Images/Icons/camera_a.PNG');
		mc-open-image: url('../Images/Icons/camera_b.PNG');
	}

	MadCap|toggler:focus
	{
		mc-closed-image: url('../Images/Icons/camera_a.PNG');
		mc-open-image: url('../Images/Icons/camera_b.PNG');
	}
}

MadCap|toggler.Photo_Toggler:focus
{
	mc-closed-image: url('../Images/Icons/camera_a.PNG');
	mc-open-image: url('../Images/Icons/camera_b.PNG');
	mc-image-spacing: 24px;
}

MadCap|toggler.Photo_Toggler:hover
{
	mc-closed-image: url('../Images/Icons/camera_a.PNG');
	mc-open-image: url('../Images/Icons/camera_b.PNG');
	mc-image-spacing: 24px;
}

MadCap|toggler:focus
{
	mc-closed-image: url('../Images/Icons/camera_a.PNG');
	mc-open-image: url('../Images/Icons/camera_b.PNG');
}

MadCap|toggler.Photo_Toggler
{
	
}

MadCap|toggler
{
	mc-closed-image: url('../Images/Icons/camera_a.PNG');
	mc-open-image: url('../Images/Icons/camera_b.PNG');
	mc-image-spacing: 10px;
	font-family: Arial;
}

address
{
	font-family: Arial;
}

blockquote
{
	font-family: Arial;
}

center
{
	font-family: Arial;
}

div
{
	font-family: Arial;
}

fieldset
{
	font-family: Arial;
}

h1
{
	font-family: Arial;
	mc-hyphenate: never;
}

dir
{
	font-family: Arial;
}

h2
{
	font-family: Arial;
	mc-hyphenate: never;
}

h3
{
	font-family: Arial;
	mc-hyphenate: never;
}

h4
{
	font-family: Arial;
	mc-hyphenate: never;
}

h5
{
	font-family: Arial;
	mc-hyphenate: never;
}

h6
{
	font-family: Arial;
}

menu
{
	font-family: Arial;
}

p
{
	font-family: Arial;
	mc-hyphenate: never;
}

caption
{
	font-family: Arial;
}

col
{
	font-family: Arial;
}

colgroup
{
	font-family: Arial;
}

table
{
	font-family: Arial;
}

tbody
{
	font-family: Arial;
}

td
{
	font-family: Arial;
}

tfoot
{
	font-family: Arial;
}

th
{
	font-family: Arial;
}

thead
{
	font-family: Arial;
}

tr
{
	font-family: Arial;
}

li
{
	font-family: Arial;
	mc-hyphenate: never;
}

ol
{
	font-family: Arial;
	mc-hyphenate: never;
}

ul
{
	font-family: Arial;
	mc-hyphenate: never;
}

MadCap|dropDown
{
	font-family: Arial;
}

@media print
{
	h2
	{
		text-align: left;
		page-break-before: auto;
	}

	td
	{
		mc-hyphenate: never;
	}

	th
	{
		mc-hyphenate: never;
	}

	thead
	{
		mc-hyphenate: never;
	}

	h6
	{
		mc-heading-level: 0;
	}

	h5
	{
		mc-heading-level: 0;
	}

	h4
	{
		mc-heading-level: 0;
	}

	h3
	{
		mc-heading-level: 0;
	}
}

