/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: RowsIN;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	max-id: 4;
	margin-left: 40px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #2f5496;
	color: #ffffff;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	background-color: #d3d3d3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-RowsIN
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 40px;
	border-spacing: 0px 0px;
}

.TableStyle-RowsIN-Column-Column1
{
	
}

.TableStyle-RowsIN-Head-Header1
{
	
}

.TableStyle-RowsIN-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	background-color: #2f5496;
}

.TableStyle-RowsIN-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #2f5496;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RowsIN-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	background-color: #2f5496;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RowsIN-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #2f5496;
}

.TableStyle-RowsIN-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	background-color: #2f5496;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RowsIN-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	background-color: #2f5496;
}

.TableStyle-RowsIN-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #2f5496;
}

.TableStyle-RowsIN-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	background-color: #2f5496;
}

.TableStyle-RowsIN-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	background-color: #2f5496;
}

.TableStyle-RowsIN-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-RowsIN-Foot-Footer1
{
	
}

.TableStyle-RowsIN-FootI-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-RowsIN-FootI-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootE-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-RowsIN-FootE-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootF-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-RowsIN-FootF-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootH-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-RowsIN-FootH-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootD-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-RowsIN-FootD-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootC-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-RowsIN-FootC-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootB-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-RowsIN-FootB-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootA-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-RowsIN-FootA-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-FootG-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-RowsIN-FootG-Column1-Footer1 p
{
	
}

.TableStyle-RowsIN-Body-Body1
{
	
}

.TableStyle-RowsIN-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
}

.TableStyle-RowsIN-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RowsIN-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RowsIN-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RowsIN-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RowsIN-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
}

.TableStyle-RowsIN-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RowsIN-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
}

.TableStyle-RowsIN-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
	background-color: #ffffff;
}

.TableStyle-RowsIN-BodyG-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-RowsIN-Body-Body2
{
	
}

.TableStyle-RowsIN-BodyI-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
}

.TableStyle-RowsIN-BodyI-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyE-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RowsIN-BodyE-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyF-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RowsIN-BodyF-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyH-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RowsIN-BodyH-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyD-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RowsIN-BodyD-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyC-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
}

.TableStyle-RowsIN-BodyC-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyB-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RowsIN-BodyB-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyA-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
}

.TableStyle-RowsIN-BodyA-Column1-Body2 p
{
	
}

.TableStyle-RowsIN-BodyG-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d3d3d3;
}

.TableStyle-RowsIN-BodyG-Column1-Body2 p
{
	
}


